<p>
<strong>Title:</strong>
<%= @article.title %>
</p>

<p>
<strong>Text:</strong>
<%= @article.text %>

<h2>Comments</h2>
<%= render @article.comments %>
 
<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= form_with scope: :article, url: articles_path, local: true do |form| %>
    ...
  <% end %>
   
  <%= link_to 'Edit', edit_article_path(@article) %>
  <%= link_to 'Back', articles_path %>
</p>