<h1>Hello, Rails!</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<%= link_to 'My Blog', controller: 'articles' %>
<%= link_to 'New article', new_article_path %>

<%= form_with scope: :article, url: articles_path, local: true do |form| %>
    ...
  <% end %>
   
  <%= link_to 'Back', articles_path %>
